// Babel initial
/* {
  "presets": [
    [
      "babel-preset-gatsby",
    {
      "targets": {
        "browsers": [">0.25%", "not dead"]
      }
    }
    ]
  ]
}
 */

 {
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup"],
      "plugins": [/* "show-language",  */"copy-to-clipboard"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}